<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mySection" type="TryCustomSection.MySection, TryCustomSection"/>
  </configSections>
  <mySection age ="31">
    <addr zip="92708" addr1="OldHope St." />
    <members>
      <add firstName="james" lastName="chen"/>
      <add firstName="valerie" lastName="lin"/>
    </members>
  </mySection>
</configuration>